@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.w3-show-inline-block .w3-bar button .w3-btn{
  background-color: #435d7d; color:white; border-radius: 3px; width:250px;
}
.w3-show-inline-block .w3-bar button .w3-btn:hover{
  width: 280px;
}

.genders {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 16px;
  font-size: 14px;
}

.register {
  margin: 25px;
  width: 450px;
  background: #06b33d;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 20px;
  border-radius: 5px;
  color: #fbfbfb;
  border: 0;
  cursor: pointer;
}

.register:hover {
  color: #3a3636;
}



.cancel {

  background: #c61313;
  width: 450px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 20px;
  border-radius: 5px;
  color: #fbfbfb;
  border: 0;
  cursor: pointer;
}

.cancel:hover {
  color: #3a3636;
}




.nav-sec-level{
  display: none;
 }
 .side-bar{
  cursor: pointer;
 }

.side-bar:hover .nav-sec-level{
   display: inline;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  background: linear-gradient(135deg, #d1e0f3, #cdc1e6);
}
.container{
  max-width: 1000px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #025186, #2d027e);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

form .input-boxx div.detailss{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
form .form-item label.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 8px;
  border-color: #ffcc33;
  transition: all 0.3s ease;
}
.user-details .input-box textarea{
  height: 60px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box textarea:focus{
  height: 60px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 8px;
  border-color: #ffcc33;
  transition: all 0.3s ease;
}

span {
  display: none;
}

.user-details .input-box select{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  
  border: 1px solid #ccc;
  border-bottom-width: 4px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #435d7d;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 50%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   padding-right: 10%;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #435d7d;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   /* display: none; */
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 50%;
  
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

