<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>
  <div class="container">
    <div class="title">Appointment Registration Form</div>
    <div class="content">
      <form #form="ngForm" (submit)="addAppointment()">
        <div class="user-details">

          <div class="input-box">
            <span class="details" style="width: calc(100% /2  - 20px);" >Title</span>
            <textarea name="comments" [(ngModel)]="app.title" id="comments"
            style="font-family:sans-serif;font: size 1.5em; font-weight: bold;">
            </textarea>
          </div>
          <div class="input-box">
            <span class="details" style="width: calc(100% /2  - 20px);"s>Description</span>
            <textarea name="comments" [(ngModel)]="app.description" id="comments"
            style="font-family:sans-serif;font: size 1.5em; font-weight: bold;">
            </textarea>
          </div>

           <div class="input-box">
            <span class="details" style="width: calc(100% /2  - 20px);">Start Time</span>
           
              <select [(ngModel)]="startHour" style="width: calc(100% /2  );" >
              <option selected disabled> hour </option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
            </select>
          
            <select style="width: calc(100% /2  );" [(ngModel)]="startMinute">
              <option selected disabled> minutes </option>
              <option value="00">00</option>
              <option value="15">15</option>
              <option value="30">30</option>
              <option value="45">45</option>
            </select>
          
          </div>
       
          <div class="input-box">
            <span class="details" style="width: calc(100% /2  - 20px);">End Time</span>
           
              <select  style="width: calc(100% /2  );" [(ngModel)]="endHour">
              <option selected disabled> hour </option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
            </select>
          
            <select style="width: calc(100% /2  );" [(ngModel)]="endMinute">
              <option selected disabled> minutes </option>
              <option value="00">00</option>
              <option value="15">15</option>
              <option value="30">30</option>
              <option value="45">45</option>
            </select>
          
          </div>
         
          
          <div class="input-box">
            <span class="details">Start Date</span>
            <input type="date" min="{{currentDate | date:'yyyy-MM-dd'}}" (click)="startDate()" [(ngModel)]="app.start_date" name="date" required>
          </div>
          <div class="input-box">
            <span class="details">End Date</span>
            <input type="date"  min="{{sDate | date:'yyyy-MM-dd'}}" [(ngModel)]="app.end_date" name="date" required>
          </div>
    
          
          
          
            <!-- <span class="details">Set Privacy:</span> -->
            <!-- <div class="genders">
              <p>Public</p> <input type="radio" [(ngModel)]="app.type" name="gender" id="gender" value="public" required>
              <p>Private</p> <input type="radio" [(ngModel)]="app.type" name="gender" id="gender" value="private">
    
            </div> -->
          
          
          
          <div class="input-box">
            <span class="details">Department</span>
            <select class="selectDept" (change)="onSelectDept($event)">
              <option selected="true" disabled>Select Department</option>
              <option *ngFor="let departments of department" value="{{departments.department_id}}">
                {{departments.department_name}}</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Team</span>
            <select [(ngModel)]="user.team_id" class="selectTeam" (change)="onSelectTeam($event)">
              <option selected>Select Team</option>
              <option *ngFor="let teams of tempTeam" value="{{teams.team_id}}" selected="false">{{teams.team_name}}</option>
            </select>
          </div>

          <div class="input-boxx">
            <div class="detailss" style="font-weight: 600;">Attendees</div></div>
          <dual-list [sort]="keepSorted" [source]="source" [key]="key" [display]="display" [filter]="filter"
          [destination]="confirmed" style=" color: balck;font-weight: bold;font-display: #435d7d;  width:100%" [format]="format" [disabled]="disabled">
          </dual-list>

          <div class="form-item" style="width: calc(100%  - 20px);">
            <label  class="details" for="gender" style="font-weight: 600;">Set Privacy:</label>
            <div class="genders">
              <p>Public</p> <input type="radio" [(ngModel)]="app.type" name="gender" id="gender" value="PUBLIC" style="margin: 10px;
              margin-bottom: 19px;" required>
              <p>Private</p> <input type="radio" [(ngModel)]="app.type" name="gender" id="gender" value="PRIVATE" style="margin: 10px;
              margin-bottom: 19px;">
    
            </div>
          </div>
          <div class="input-box">
            <span class="details" style="font-weight: 600;">Attached File</span>
            <input type="file" multiple (change)="addFiles($event)" name="attachedfile" id="attachedfile" style="width: 75%; font-size: 14px;"
            required multiple>
          <p><b style="font-size: 13px;">(Maximum File Size: 5 Mb)</b></p>
          </div>
        </div> 
        <div class="w3-show-inline-block" style="text-align: center;width: 100%;">
          <div class="w3-bar">
            <!-- <button class="w3-btn w3-red"  style=" border-radius: 3px; margin-right: 10px;">Cancle</button> -->
            <!-- <button class="w3-btn " style="background-color: #435d7d; color:white; border-radius: 3px;" >Register</button> -->
            <!-- <input type="submit" class="w3-btn" value="Add"> -->
            <!-- <input type="submit" class="register" value="Add">
        <input type="button" class="cancel" data-dismiss="modal" value="Cancel"> -->
        <input type="button" class="w3-btn w3-red" value="Cancle"  style=" border-radius: 3px; margin-right: 10px; width:250px;">
        <input type="submit" class="w3-btn " value="Add" style="background-color: #435d7d; color:white; border-radius: 3px; width:250px;" >
          </div>
        </div>
      </form>
    </div>
  </div>
</body>