body {

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;
  padding-bottom: 15px;
  font-family: "Nunito Sans";
  background: linear-gradient(135deg, #d1e0f3, #cdc1e6);

  }


  .container .title{
font-size: 23px;
font-weight: 700;
position: relative;

color: #025186;
text-align: center;
margin-top: 0%;


}




  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }
  p{
  margin: 0;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 100%;
  color: #435d7d;
  }
  th{
  padding: 10px !important;
  }
  .table{
  margin-bottom: 0px;
  }
  .dropdown-toggle{
  background-color: #fff;
  }
  .table>:not(caption)>*>*{
  border-color: #435d7d;
  vertical-align: middle;
  white-space: nowrap;
  }
  .table>:not(:first-child){
  border-top:#435d7d;
  }
  .table>thead{
  background-color:#435d7d;
  color: #fff;
  }
  .row{
  align-items: center;
  }
  .form-control {
  line-height: 2px;
  border: 1px solid #ddd;
  border-radius: 2px;
  }
  .form-control:focus{
  box-shadow: none;
  border-color:#435d7d;
  }
  .form-check-input:checked{
  background-color:#435d7d;
  border-color: #435d7d;
  }
  .form-check-input:focus{
  box-shadow: none;
  }
  .form-control:hover{
  border-color: #435d7d;
  }
  .bg-custom {
  border: 1px solid #435d7d;
  }
  .btn-custom {
  border-color: #435d7d;
  color: #435d7d;
  }
  .btn-custom:hover {
  background-color:#435d7d;
  color: #fff;
  box-shadow:0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  }
  .row.m-0{
  border-bottom: 1px solid #435d7d;
  margin-bottom: 15px !important;
  background: #435d7d;
  font-weight: 600;
  color: #fff;
  }
  .row.mb-2{
  margin: 0;
  }
  .col-lg-4 p{
  font-size: 12px;
  }

  @media(max-width: 992px) {
  form{
  width: 80%;
  }
  }
  @media(max-width: 575px) {
  form{
  width: 100%;
  }
  }




.fa{

width: 15%;
margin-right: 5%;

margin-top:5px;
text-align: center;
}






/* .fa{

width: 15%;
margin-left: 5%;

margin-top:5px;
text-align: center;
} */

.icons{
margin:auto!important;


}


.circular--portrait { position: relative; width: 12%; height: 8%; overflow: hidden;  } .circular--portrait img { width: 100%; height: auto; }




