<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12" style="
            flex: 0 0 95%;
            max-width: 95%;
            margin-right: 30px;
            margin-left: 30px;">
            <div class="">
                <a (click)="getAllApp()"
                     class="btn btn-success" data-toggle="modal"><span>Report </span></a>
            </div>
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Today appointments</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body table-responsive">
                        <form (ngModel)="getSchedulesById()">
                        <table class="table table-hover" >
                            
                            <thead class="text-warning">
                                <th>Title</th>
                                <th>Description</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Date</th>
                             
                            </thead>
                           
                            <tbody *ngFor="let data of showDataApp" >
                                 <tr *ngFor="let d of data.schedules">
                                   
                                    <td *ngIf="d.date == currentDate">{{data.title}}</td>
                                    <td *ngIf="d.date == currentDate">{{data.description}}</td>
                                    <td *ngIf="d.date == currentDate">{{d.start_time}}</td>
                                    <td *ngIf="d.date == currentDate">{{d.end_time}}</td>
                                    <td *ngIf="d.date == currentDate">{{d.date}}</td>
                                
                                </tr>
                                
                            </tbody>
                        
                        </table>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  