<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12" style="
            flex: 0 0 80%;
            max-width: 80%;
            margin-right: 30px;
            margin-left: 30px;">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Appointment Stats</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body table-responsive">
                        <form (ngModel)="getSchedules()">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>Title</th>
                                <th>Description</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Date</th>
                            </thead>
                            <tbody *ngFor="let data of schedules">
                                <tr>
                                    <td>{{data.title}}</td>
                                    <td>{{data.description}}</td>
                                    <td>{{data.start_time}}</td>
                                    <td>{{data.end_time}}</td>
                                    <td>{{data.date}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  