<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>

<body>
  <div class="container">
    <div class="main-body">


      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">

                <!-- <img [src]="imageUrl" class="rounded-circle" width="60%" > -->
                <div class="show-image" style="width:70%">
                  <!-- <img src="http://taditdash.files.wordpress.com/2014/01/tadit-dash.jpg" /> -->
                  <img [src]="imageUrl" class="rounded-circle" width="60%">
                  <!-- <input class="delete" type="button" value="Delete" /> -->
                  <button class="btn" (click)="deleteImage()"><i class="fa fa-trash" ></i></button>
                </div>


                <div class="outer">
                  <div class="inner">
                    <input type="file" (change)="onSelectFile($event)" accept="image/*" class="inputfile" type="file"
                      name="pic" accept="image/*">

                    <label><svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 20 17">
                        <path
                          d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                        </path>
                      </svg></label>
                  </div>
                </div>




                <span *ngIf="isLoading" class="loader"></span>
                <div class="mt-3">
                  <h2 style="margin: 0 0 15px; ">{{user.name}}</h2>
                  <h3 class="text-secondary mb-1">{{user.position}}</h3>
                  <h4 class="text-secondary" style="margin: 0 0 4px;">{{user.employee_id}}</h4>
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">

              <div class="row">
                <div class="col-sm-3">
                  <h4 class="mb-0">Name</h4>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.name}}
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <h4 class="mb-0">Gender</h4>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.gender}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h4 class="mb-0">Phone</h4>
                </div>
                <div class="col-sm-9 text-secondary">
                  <form (ngSubmit)="updatePhoneNumber()">
                    <input (keypress)="isNumberKey($event)" (paste)="pasteCallback($event)" type="number"
                      style="border: none; border-bottom: 1px solid #435d7d; width: 95px;" maxlength="11"
                      placeholder="eg. 09782572442"
                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      [(ngModel)]="user.phone_number" digitOnly>
                  </form>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h4 class="mb-0">Department</h4>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.department_name}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h4 class="mb-0">Team</h4>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.team_name}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h4 class="mb-0">Position</h4>
                </div>

                <div class="col-sm-9 text-secondary">
                  {{user.position}}

                </div>
              </div>
              <!-- <a href="admin/change_pass"  class="text-danger">Change Password</a> -->
            </div>
          </div>
        </div>
        <input (click)="checkChanges()" style="text-align: center;" type="submit" value="Submit Changes"
          class="btn btn-primary">
      </div>


    </div>
  </div>

</body>