
  div.show-image {
    position: relative;
    float:left;
    margin:5px;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover button {
    display: block;
}
div.show-image button {
    position:absolute;
    display:none;
}

div.show-image button.btn {
    top:0;
    left:59%;
}


  .outer {
    width: 100% !important;
    height: 100% !important;
    max-width: 150px !important; /* any size */
    max-height: 150px !important; /* any size */
    margin: auto;
    background-color: #6eafd4;
    border-radius: 100%;
    position: relative;
    }
    
  .inner {
    background-color: #435d7d;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .inner:hover {
    background-color: #5555ff;
  }
  .inputfile {
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: 1;
      width: 40px;
      height: 40px;
  }
  .inputfile + label {
      font-size: 1.25rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden;
      width: 40px;
      height: 40px;
      pointer-events: none;
      cursor: pointer;
      line-height: 45px;
      text-align: center;
  }
  .inputfile + label svg {
      fill: #ffcc33;
  }



/* .loader {
    width: 30px;
    height: 30px;
    border: 4px solid #435d7d;
    border-bottom-color: #ffcc33;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }


    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }  */




@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
/* input .btn {
    background-color: #435d7d;
    border:1px;
    border-color: #031844;
    color: #fff;
}
input .btn :hover{
background-color: #ffcc33;
color: #ffcc33;
} */
.containerLoader {
    position: fixed;
    width: 100%;
    left: 0;right: 0;top: 0;bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
    
}

.loader {
    content:'';
    display:block;
    position:absolute;
    left:50%;top:40%;
    width:100px;height:100px;
    border-style:solid;
    border: 4px solid #5e7899;
    border-bottom-color: #f5d77c;
    border-top-color:transparent;
    border-width: 10px;
    border-radius:50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index:9999;
}


body{
    color: #1a202c;
    background-color: #5b7da7;    
    font-family: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    font-size: 875rem;
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #5b7da7;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
    
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

/* remove number arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

