<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<body>
<div class="container">
    <div class="main-body">
    
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    
                    <img [src]="imageUrl" class="rounded-circle" width="100">
                      <span *ngIf="isLoading" class="loader"></span>
                    <div class="mt-3">
                      <h3 style="margin: 0 0 15px;">{{user.name}}</h3>
                      <h4 class="text-secondary mb-1">{{user.position}}</h4>
                      <h5 class="text-secondary" style="margin: 0 0 4px;">{{user.employee_id}}</h5>
                      <input type="file" (change)="onSelectFile($event)" accept="image/*" >
                      <input type="submit" (click)="checkChanges()" class="btn btn-primary">
                      
                    </div>
                  
                  </div>
                </div>
              </div>
              
            </div>

              <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                      
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Name</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{user.name}}
                      </div>
                    </div>
                    <hr>
                    
                    <div class="row">
                    <div class="col-sm-3">
                      <h4 class="mb-0">Gender</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.gender}}
                    </div>
                  </div>
                  <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Phone</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                          <form (ngSubmit)="updatePhoneNumber()">
                          <input type="number" style="border: none; border-bottom: 1px solid #435d7d;" [(ngModel)]="user.phone_number">
                          <button class="btn" style="padding:3px; border-color: #435d7d ; border:2px; box-shadow: 0 20px 38px -12px #435d7d, 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 13)"><i class="fa fa-check"  style="padding:2px; color: #ffcc33; "></i></button>
                        </form>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Department</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{user.department_name}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Team</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{user.team_name}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Position</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                       {{user.position}}
                      </div>
                    </div>
                    <!-- <a href="admin/change_pass"  class="text-danger">Change Password</a> -->
                  </div>
                </div>
              </div>
          
          </div>

         
        </div>
    </div>

</body>