<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>
  <div class="container">
    <div class="title">Update Employee</div>
    <div class="content">
      <form (ngSubmit)="doUpdate()">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Employee ID</span>
            <input type="text" disabled="true" [(ngModel)]="user.employee_id" name="employee_id" id="employee_id"
              placeholder="Employee ID">
          </div>
          <div class="input-box">
            <span class="details">Employee Name</span>
            <input type="text" [(ngModel)]="user.name" name="name" id="name" placeholder="Employee Name">
          </div>
          <div class="input-box">
            <span class="details">Password

              <a class="side-bar"><i class="material-icons" style="font-size:15px">error_outline</i>
                <span class="nav-sec-level" style="font-size: 11px;">If you don't want to update your password, you can
                  let the blank to this field.
                </span></a>
            </span>
            <input type="password" [(ngModel)]="user.password" name="password" id="pass" placeholder="Password">
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input (keypress)="isNumberKey($event)" (paste)="pasteCallback($event)" type="number" maxlength="11"
              [(ngModel)]="user.phone_number" name="phone_number" id="phone" placeholder="Enter Phone number">
          </div>
          <div class="input-box">
            <span class="details">Department</span>
            <select class="selectDept" name="de\\" (change)="onSelect($event)">
              <option [(ngModel)]="user.department_name" name="department_name" selected="true" disabled>
                {{user.department_name}}</option>
              <option *ngFor="let departments of department" value="{{departments.department_id}}">
                {{departments.department_name}}</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Team</span>
            <select class="selectDept" [(ngModel)]="user.team_name">
              <option selected="true" disabled>{{temTeam}}</option>
              <option *ngFor="let teams of tempTeam" value="{{teams.team_id}}">{{teams.team_name}}</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Position</span>
            <input type="text" [(ngModel)]="user.position" name="position" id="position" placeholder="Enter Position">
          </div>
          <div class="input-box">
            <span *ngIf="!show" class="details">Permission Role</span>
            <select *ngIf="!show" name="role" [(ngModel)]="user.role" class="selectRoles">
              <option default disabled>Select Role</option>
              <option value="USER">User</option>
              <option value="TRAINEE">Trainee</option>
            </select>
          </div>

        </div>
        <!-- <div class="gender-details">
         <input type="radio" name="gender" id="dot-1">
         <input type="radio" name="gender" id="dot-2">
         <input type="radio" name="gender" id="dot-3">
         <span class="gender-title">Gender</span>
         <div class="category">
           <label for="dot-1">
           <span class="dot one"></span>
           <input type="radio" class="gender" name= "gender" [(ngModel)]="user.gender" value="Male">Male
         </label>
         <label for="dot-2">
           <span class="dot two"></span>
           <input type="radio" class="gender" name="gender" [(ngModel)]="user.gender" value="Female" >Female
         </label>
         <label for="dot-3">
           <span class="dot three"></span>
           <input type="radio" class="gender" name="gender" [(ngModel)]="user.gender" value="Others">Others
           </label>
         </div>
         
       </div> -->
        <h3 class="gender-details">Select your Gender</h3>
        <div class="category">
          <input type="radio" class="gender" name="gender" [(ngModel)]="user.gender" value="Male">Male
          <input type="radio" class="gender" name="gender" [(ngModel)]="user.gender" value="Female">Female
          <input type="radio" class="gender" name="gender" [(ngModel)]="user.gender" value="Other">Other
        </div>
        <div class="w3-show-inline-block">
          <div class="w3-bar">
            <!-- <button class="w3-btn w3-red"  style=" border-radius: 3px; margin-right: 10px;">Cancle</button> -->
            <!-- <button class="w3-btn " style="background-color: #435d7d; color:white; border-radius: 3px;" >Register</button> -->
            <!-- <input type="submit" class="w3-btn" value="Add"> -->
            <input (click)="goToUserDetails()" type="button" class="w3-btn w3-red"
              style=" border-radius: 3px; margin-right: 10px;" data-dismiss="modal" value="Cancel">
            <input type="submit" class="w3-btn" value="Update"
              style="background-color: #435d7d; color:white; border-radius: 3px;">
          </div>
        </div>
      </form>
    </div>
  </div>
</body>