<div class="logo">
    <div class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/datlogo.png"/>
        </div>
        <br>
        <br>
    </div>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <i class="material-icons">dashboard</i>
                <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                </p>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification">5</span>
                <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Mike John responded to your email</a>
                <a class="dropdown-item" href="#">You have 5 new tasks</a>
                <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                <a class="dropdown-item" href="#">Another Notification</a>
                <a class="dropdown-item" href="#">Another One</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Account</span>
                </p>
            </a>
        </li>
    </ul>
  </div>
    <ul class="nav" >
        
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['admin/dashboard']" style="font-size: 16px;padding-top: 10px;">
                <i class="material-icons">dashboard</i><span style="padding-top: 10px;">Dashboard</span> 
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 16px;padding-top: 10px;">
                <i class="material-icons" >person</i><span style="padding-top: 10px;">User Info</span>  <i class="fa fa-caret-down" style="float: right; "></i>
            </a>
            
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <li routerLinkActive="active" class="nav-item" style="width: 100%;">
                    <a class="nav-link" [routerLink]="['admin/user-profile']" style="font-size: 14px;padding-bottom: -3px;"> 
                        <i class="material-icons">person</i><span style="padding-top: 8px;">User Profile</span> 
                        
                    </a>
                </li>
                <li routerLinkActive="active" class="nav-item" style="width: 100%;">
                    <a class="nav-link" [routerLink]="['admin/user-details']" style="font-size: 14px;">
                        <i class="material-icons">content_paste</i><span style="padding-top: 7px;">User Details</span>
                    </a>
                </li>
                <li routerLinkActive="active" class="nav-item" style="width: 100%;">
                    <a class="nav-link" [routerLink]="['admin/addEmployeeModal']" style="font-size: 14px;">
                        <i class="material-icons">person_add</i><span style="padding-top: 7px;">User Add</span>
                    </a>
                </li>
                
                
            </div>
            <li routerLinkActive="active" class="nav-item" style="width: 100%;">
                <a class="nav-link" [routerLink]="['appointment']" style="font-size: 14px;">
                    <i class="material-icons">event_available</i><span style="padding-top: 7px;">Appointment</span>
                </a>
            </li>
        
    </ul>

    
</div>


