<script>
	addEventListener("load", function () {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.scrollTo(0, 1);
	}
</script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all" />
<!-- Style-CSS -->
<link rel="stylesheet" href="/assets/css/font-awesome.css">
<!-- Font-Awesome-Icons-CSS -->
<!-- //css files -->
<!-- online-fonts -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link href="//fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<!-- //online-fonts -->



<!--header-->
<div class="header-w3l">
	<h1>
		<span>Appointment Schedular System</span>
	</h1>
</div>
<!--//header-->
<div class="main-content-agile">
	<div class="sub-main-w3">
		<img src="/assets/img/datjoblogo.png" alt="" />
		<h2>Log In</h2>
		<form #form="ngForm" (ngSubmit)="userLogin()" method="post">
			<div class="pom-agile">
				<div class="p">
					<!-- <span class="fa fa-o" aria-hidden="true"></span> -->
					<input placeholder="Employee ID" style="margin-left: -15px;" [(ngModel)]="login.userId"
						name="userId" id="userId" class="user" type="text" required>
				</div>

			</div>
			<div
				*ngIf="form.controls['userId'].invalid && (form.controls['userId'].dirty || form.controls['userId'].touched)">
				<div *ngIf="form.controls['userId'].errors.required" class="text-danger">
					UserId is required.
				</div>
			</div>
			<div class="pom-agile">
				<input [type]="changetype?'password':'text'" style="cursor: pointer;" placeholder="Password"
					[(ngModel)]="login.password" id="password" name="password" class="pass" type="password" required>
				<span class="eyeicon" (click)="viewpass()"> <i
						[ngClass]="visible?'fa fa-eye': 'fa fa-eye-slash'"></i></span>
			</div>
			<div
				*ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)">
				<div *ngIf="form.controls['password'].errors.required" class="text-danger">
					Password is required.
				</div>
			</div>
			<div class="sub-w3l">
				<div class="clear"></div>
			</div>
			<div class="right-w3l">
				<input type="submit" [disabled]="form.invalid" value="Login">
			</div>
			<div class="forgot-w3l">
				<!--<a href="#">Forgot Password?</a>-->
			</div>
		</form>
	</div>
</div>
<!--//main-->
<!--footer-->
<!-- <div class="footer">
	<p>&copy; Dir Ace Technology Co.,ltd
		
	</p>
</div> -->
<!--//footer-->