<div class="container">
    <div class="col-md-6">

        <h1 style="color: red;">Login User</h1>
        <form (ngSubmit)="userLogin()">
            <div class="mb-3">
                <label for="userid">UserId</label>
                <input type="text" [(ngModel)]="login.userId" class="form-control" name="userid" id="userid" aria-describedby="">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" [(ngModel)]="login.password" name="password" class="form-control" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-primary"Login></button>
        </form>
    </div>

</div>
