<body>
  <div class="container d-flex justify-content-center align-items-center vh-100" style="padding-bottom: 1px;">
    <div class="bg-white text-center p-5 mt-3 center" style="padding-bottom: 1px;">
      <h3>Change Password </h3>
      <form #form="ngForm" class="pb-3" id="passwordForm" (ngSubmit)="changePassword()">
        <div class="form-group">
          <label> Unhide <span class="eyeicon" (click)="viewpass()"> <i
                [ngClass]="visible?'fa fa-eye': 'fa fa-eye-slash'" style="color: #8092a8;"></i></span></label><br>

          <div class="label" style="float: left;">Old Password</div>
          <input type="password" class="form-control" placeholder="Your Current Password"
            [(ngModel)]="changePass.oldPassword" [type]="changetype?'password':'text'" style="cursor: pointer;"
            id="password" name="password" type="password" required>

          <div class="label" style="float: left;">New Password</div>
          <input type="password" class="form-control"
            placeholder="At least 6 charaters" [(ngModel)]="changePass.newPassword"
            [type]="changetype?'password':'text'" style="cursor: pointer;" id="npassword" name="npassword" type="password"
            required minlength="6" #npassword="ngModel">
            <div *ngIf="npassword.errors?.['minlength']">
              Password must be at least 6 characters long.
            </div>



          <div class="label" style="float: left;">Confirm Password</div>
          <input type="password" class="form-control" placeholder="At least 6 charaters"
            [(ngModel)]="changePass.conPassword" [type]="changetype?'password':'text'" style="cursor: pointer;"
            id="conPassword" name="password" type="password" required minlength="6" #password="ngModel">
        </div>
         <div *ngIf="password.errors?.['minlength']">
              Password must be at least 6 characters long.
            </div>


        <div class="w3-show-inline-block">
          <div class="w3-bar">
            <button type="" (click)="goToDashboard()" class="w3-btn"
              style="background-color: #f44336; color:white; border-radius: 3px; margin-right: 15px;">Cancle</button>
            <button [disabled]="form.invalid" type="submit" class="w3-btn"
              style="background-color: #435d7d; color:white; border-radius: 3px;">Confirm</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</body>

<script>

  const form = document.getElementById('passwordForm');
  const password = document.getElementById('password');
  const confirmPassword = document.getElementById('conPassword');

  form.addEventListener('submit', function (event) {
    if (password.value !== conPassword.value) {
      event.preventDefault();
      alert('Password and confirm password do not match.');
    }
  });
</script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
  body {
    background-color: #17c0eb;
    font-family: Nunito Sans;
    background: linear-gradient(135deg, #d1e0f3, #cdc1e6);
  }

  .btn {
    background-color: #435d7d;
    width: 50%;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    display: inline;
  }

  .btn-gray {
    background-color: #878c92;
    width: 50%;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    display: inline;
  }

  .btn:hover {
    background-color: #2d3436;
    color: #fff;
  }

  input {
    height: 50px !important;
  }

  .form-control:focus {
    border-color: #435d7d;
    box-shadow: none;
  }

  h3 {
    color: #435d7d;
    font-size: 36px;
  }

  .cw {
    width: 35%;
  }

  @media(max-width: 992px) {
    .cw {
      width: 60%;
    }
  }

  @media(max-width: 768px) {
    .cw {
      width: 80%;
    }
  }

  @media(max-width: 492px) {
    .cw {
      width: 90%;
    }
  }
</style>