<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>
  <div class="container">
    <div class="title">Add Employee</div>
    <div class="content">
      <form #form="ngForm" (ngSubmit)="doRegisteration()">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Employee ID</span>
            <input type="text" name="employee_id" [(ngModel)]="user.employee_id" id="employee_id"
              placeholder="Employee ID" required minlength="2" maxlength="10">
          </div>
          <span
            *ngIf="form.controls['employee_id'].invalid && (form.controls['employee_id'].dirty || form.controls['employee_id'].touched)"></span>
          <div class="input-box">
            <span class="details">Employee Name</span>
            <input type="text" [(ngModel)]="user.name" id="name" name="name" placeholder="Employee Name" required>
          </div>
          <span
            *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"></span>
          <div class="input-box">
            <span class="details">Password
              <a class="side-bar"><i class="material-icons" style="font-size:15px">error_outline</i>
                <span class="nav-sec-level" style="font-size: 11px;">Password must have atleast 6 words.
                </span></a>
            </span>   
            <input type="password" name="password" [(ngModel)]="user.password" name="password" id="password" placeholder="Password" required #password="ngModel" minlength="6">
            <div *ngIf="password.errors?.['minlength']">
              Password must be at least 6 characters long.
            </div>
            
          </div>
          
          <span
            *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"></span>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="number" (keypress)="isNumberKey($event)" (paste)="pasteCallback($event)" type="number" maxlength="11" placeholder="eg. 09613424525" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  (input)="validateNumber($event)" name="phone_number" [(ngModel)]="user.phone_number" id="phone" required>
          </div>
          <span
            *ngIf="form.controls['phone_number'].invalid && (form.controls['phone_number'].dirty || form.controls['phone_number'].touched)"></span>
          <div class="input-box">
            <span class="details">Department</span>
            <select  class="selectDept" (change)="onSelect($event)" >
              <option  selected="true" disabled>Select Department</option>
              <option *ngFor="let departments of department" value="{{departments.department_id}}">
                {{departments.department_name}}</option>
            </select>
            
          </div>
    
          <div class="input-box">
            <span class="details">Team</span>
            <select [(ngModel)]="user.team_id" class="selectTeam">Select Team
              <option selected="true" disabled>Select Team</option>
              <option *ngFor="let teams of tempTeam" value="{{teams.team_id}}">{{teams.team_name}}</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Position</span>
            <input name="position" type="text" [(ngModel)]="user.position" id="position" placeholder="Enter Position" required>
          </div>
          <span
            *ngIf="form.controls['position'].invalid && (form.controls['position'].dirty || form.controls['position'].touched)"></span>
          <div class="input-box">
            <span class="details">Permission Role</span>
            <select name="role" required [(ngModel)]="user.role" class="selectRoles">
              <option default disabled>Select Role</option>
              <option value="USER">User</option>
              <option value="TRAINEE">Trainee</option>
            </select>
          </div>
          <span
            *ngIf="form.controls['role'].invalid && (form.controls['role'].dirty || form.controls['role'].touched)"></span>

        </div>
        <h3 class="gender-details">Select your Gender</h3>
        <div  class="category">
         <input type="radio" class="gender" name="gender" [(ngModel)]="user.gender" value="Male" required> Male
          <input type="radio" class="gender" name="gender" [(ngModel)]="user.gender" value="Female" required>Female
          <input type="radio" class="gender" name="gender" [(ngModel)]="user.gender" value="Other" required>Other
        </div>
        <span
            *ngIf="form.controls['gender'].invalid && (form.controls['gender'].dirty || form.controls['gender'].touched)"></span>
        <div class="w3-show-inline-block">
          <div class="w3-bar">
            <!-- <button class="w3-btn w3-red"  style=" border-radius: 3px; margin-right: 10px;">Cancle</button> -->
            <!-- <button class="w3-btn " style="background-color: #435d7d; color:white; border-radius: 3px;" >Register</button> -->
            <!-- <input type="submit" class="w3-btn" value="Add"> -->
            <input type="button" (click)="goToDashboard()" class="w3-btn w3-red" style=" border-radius: 3px; margin-right: 10px;"
              data-dismiss="modal" value="Cancel">
            <input type="submit" class="w3-btn w3" value="Add" [disabled]="form.invalid"
              style="background-color: #435d7d;width: 90px; color:white; border-radius: 3px;">

          </div>
        </div>
      </form>
    </div>
  </div>
</body>