<div class='demo-app-main'>

  <div class="search">
    <input type="text"  placeholder="Search User....." >
  <button type="submit" class="searchButton">
    <i class="fa fa-search"></i>
 </button>
</div>
          <a href="#">Remove Member</a><a href="#"><i class="material-icons">arrow_back_ios</i> Previous Member</a><a href="#">Next Member <i class="material-icons">arrow_forward_ios</i></a>
  <td>
    <div style="padding-left: 10px; font-weight: bold;">{{user.name}}</div>
<div #calendar #eventContent style="margin-top:10px; margin-left:30px; width: 520px; display: inline-block;">
    
</div>
</td>
<td>
  <div style="padding-left: 10px; padding-bottom: 10px; font-weight: bold;">Searched Name</div>
  <div #calendar2 #eventContent style=" margin-top:0px;width: 520px; display: inline-block;">
      
  </div>
  </td>

</div>